@use "/src/sass/base/variables.scss" as *;

.header__main {
	display: flex;
	justify-content: space-between;
}

.header__icons img {
	width: 16px;
	height: 16px;
}

.header__logo {
	width: 100px;
	height: 100px;
}

.header__icons {
	display: flex;
	gap: 10px;
}

@media (max-width: $breakpoint-sm) {
	.header__menu {
		transition: transform .5s;
		z-index: 10000;
		padding: 50px 10px;
		position: fixed;
		top: 0;
		left: -100vw;
		width: 100vw;
		height: 100vh;
		background-color: $light;
	}

	.header__menu-nav ul{
		margin-left: 20px;
		padding-top: 30px;
		display: flex;
		flex-direction: column;
		list-style-type: none;
	}
	.header__menu_active {
		transition: transform .5s;
		transform: translateX(100%);
	}

	.burger {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		padding-right: 30px;
	}

	.burger span {
		width: 20px;
		height: 1px;
		background-color: $dark;
	}
}

@media (min-width: $breakpoint-sm) {
	.header__menu img {
		display: none;
	}
}

.header__menu {
	display: block;
	margin-top: 20px;
}

.header__menu ul {
	display: flex;
	justify-content: center;
	gap: 30px;
	padding-left: 0;
	list-style-type: none;
}

.header__link {
	font-size: $font-size-3;
	color: $dark;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}

@media (min-width: $breakpoint-md) {
	.header__logo {
		margin-left: 5%;
	}
}

@media (min-width: $breakpoint-xl) {
	.header__logo {
		width: 150px;
		height: 151px;
	}
	.header__menu {
		margin-top: 36px;
	}

	.header__menu ul {
		gap: 70px;
	}
}
